# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
soccerIA/
venv/
.venv/
env/

# IDEs
.vscode/
.idea/

# Projeto
modelos/*.pt
stubs/*.pkl

Guia do Sistema de Análise de Futebol com IA_ML.pdf
